name: first-github-action
on:
  push:
    branches:
      # When someone push to `main` branch
      - main
jobs:
  
  # test:
  #   ...
  deploy:
    name: "Deploy to staging"
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    # needs: test
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/staging.key
          chmod 600 ~/.ssh/staging.key
          cat >>~/.ssh/config <<END
          Host staging
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/staging.key
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_KEY: ${{ secrets.SSH_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
      
      - name: Checkout the repo on the Staging Server
        run: ssh staging "git clone https://github.com/ali-saeed91/docker-compose.git || true"
           
      - name: Checkout Repository
        run: ssh staging 'cd docker-compose && git pull'

      - name: Run Docker Compose
        run: ssh staging 'cd docker-compose && sudo docker-compose up -d'

      - name: Check the running Containers
        run: ssh staging 'sudo docker-compose ps' 

      - name: Check the build Images
        run: ssh staging 'sudo docker images' 



        
